---
layout: default
---

<!-- Main -->
    <h1 class="site-title">{{ site.title }}</h1>
    <h2 class="site-description">{{ site.description }}</h2>
    <a class="button" href="about.html">Hear Steve’s Story</a>
    <a class="button" href="https://www.youcaring.com/steve-mcgrath-651237">Donate now</a>
    <section>
      <h2 class="section-title">Upcoming events</h2>

      <div class="row">
          {% for event in site.events limit:4 %}
              <article class="{% cycle '6u', '6u$' %} 12u(small)">
                <a class="image fit thumb" href="{{ event.url }}">
                  <img src="{{ event.image }}" alt="">
                </a>
                <p clas="date">                
                  {% assign d = event.date | date: "%-d"  %}
                  {% case d %}
                    {% when '1' or '21' or '31' %}{{ d }}st
                    {% when '2' or '22' %}{{ d }}nd
                    {% when '3' or '23' %}{{ d }}rd
                    {% else %}{{ d }}th
                    {% endcase %}
                  {{ event.date | date: "%b" }}
                  {{ event.date | date: "%Y" }}
                </p>
                  <header>
                      <h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
                  </header>
                  <section>
                      {{ event.excerpt }}
                  </section>
              </article>

          {% endfor %}
      </div>
      <br />
      <a class="button fit" href="events.html">View all events</a>
    </section>
    <section>
        <h2 class="section-title">Steve’s Updates</h2>
        {% for post in site.posts limit:1 %}
            <header class="major">
                <h2>{{ post.title }}</h2>
                <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>

            <section>
                {{ post.content }}
            </section>
        {% endfor %}
        <div class="row">
        <br />
            {% for post in site.posts offset:1 %}
              <article class="{% cycle '6u', '6u$' %} 12u(small)">
                  <header>
                      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  </header>
                  <section>
                      {{ post.excerpt }}
                  </section>
                  <footer>
                      <ul class="actions">
                          <li><a href="{{ post.url }}" class="button">Read More</a></li>
                      </ul>
                  </footer>
              </article>

            {% endfor %}
        </div>
    </section>
    <section>
      <h2 class="section-title">Our supporters</h2>
      <p>We would like to thank the following companies for their generosity and support towards Steve’s Story Fundraising Campaign.</p>
      <div class="row">
          {% for supporter in site.supporter_list %}
            <div class="{% cycle '6u', '6u$' %} cc 12u(small)">
              {{ supporter }}
            </div>
          {% endfor %}
      </div>
    </section>